{% extends 'frontoffice.html.twig' %}

{% block content %}
   <div class="container">
        <div class="jumbotron">
            <h1>Resolutions</h1>

            <h2>manage your resolutions</h2>
        </div>

    <div class="row">
    <div class="col-lg-12">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Solved At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for resolution in resolutions %}
            <tr>
                <td><a href="{{ path('resolution_show', { 'id': resolution.id }) }}">{{ resolution.id }}</a></td>
                <td>{{ resolution.status }}</td>
                <td>{% if resolution.createdAt %}{{ resolution.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if resolution.solvedAt %}{{ resolution.solvedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-default" href="{{ path('resolution_show', { 'id': resolution.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('resolution_edit', { 'id': resolution.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled">
        <li>
            <a class="btn btn-primary" href="{{ path('resolution_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
    </div>
   </div>
{% endblock %}
