{% extends 'frontoffice.html.twig' %}

{% block content %}
   <div class="container">
        <div class="jumbotron">
            <h1>Authorities Locations</h1>

            <h2>manage your Authority location</h2>
        </div>

    <div class="row">
    <div class="col-lg-12">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Address</th>
                <th>Telephone</th>
                <th>Mobile</th>
                <th>Fax</th>
                <th>Info</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for location in locations %}
            <tr>
                <td><a href="{{ path('location_show', { 'id': location.id }) }}">{{ location.id }}</a></td>
                <td>{{ location.label }}</td>
                <td>{{ location.firstname }}</td>
                <td>{{ location.lastname }}</td>
                <td>{{ location.longitude }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.address }}</td>
                <td>{{ location.telephone }}</td>
                <td>{{ location.mobile }}</td>
                <td>{{ location.fax }}</td>
                <td>{{ location.info }}</td>
                <td>
                    <ul class="list-unstyled">
                        <li>
                            <a class="btn btn-default" href="{{ path('location_show', { 'id': location.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('location_edit', { 'id': location.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="list-unstyled center-block">
        <li>
            <a  class="btn btn-default" href="{{ path('location_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
    </div>
   </div>
{% endblock %}
