{% extends 'frontoffice.html.twig' %}
{% block title %}
    welcome to the homepage
{% endblock %}

{% block content %}
    <div class="container">
      <div class="jumbotron">
          <h1>some <strong>service provider</strong> or <strong>product marchand</strong> did <strong>wrong</strong> to you <em> dont keep it for your self</em></h1>
    <p>blacklist is the  right paltform to share your bad experiences</p> 
  </div>
        <h2>Claims Categories</h2>
        <div class="row">
  {% for category in categories %}
      
         <div class="col-sm-3">
             <a  title="{{ category.title }}" href="{{ path('category_view',{ id : category.id}) }}">
             <img  class="img-responsive center-block" src="{{ asset(category.webpath) }}" />
             </a>
             <h3>{{ category.title|capitalize }}</h3>
      <p>{{ category.description }}</p>
      <p>claims {{ category.claims|length }}</p>
      <!--
        {% if category.claims|length >0 %}
      <nav>
          <ul class="list-unstyled">
              {% for claim in category.claims %}
                  <li><a title="{{ claim.title }}" href="{{ path('claim_show',{id : claim.id }) }}">{{claim.title }}</a></li>
              {% endfor %}
          </ul>
      </nav>
        {% endif %}
      -->
         </div>
    
          {% endfor%}    
            </div>
            <h2>Recent claims </h2>        
  <div class="row">
      {% for claim in claims %}
    <div class="col-sm-4">
        <img  class="img-responsive center-block" src="{{ asset(claim.category.webpath) }}" /> 
      <h3>{{ claim.title|capitalize }}</h3>
      <p class="text-center"> By <em>{{ claim.account.username }}</em></p>
      <p>{{claim.createdat|date('d-m-y H:m')}}</p>
      <p class="text-center"><a href="{{ path('claim_view',{ id : claim.id  })}}" class="btn btn-info">view</a></p>
    </div>
    {% endfor %}
  </div>
        
    </div>   
{% endblock %}

{% block stylesheets %}
{% endblock %}
