{# empty Twig template #}
{% extends 'frontoffice.html.twig' %}
{% block title %}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block content %}
    <div class="container">
        <h2> contact info</h2>
        <div>
            <span class="field">First Name</span><br>
            <span class="field-content">{{ contact.firstname }}</span><br>
            <span class="field">Last Name</span><br>
            <span class="field-content">{{ contact.lastname }}</span><br>
            <span class="field">Email</span><br>
            <span class="field-content">{{ contact.email }}</span><br>
            <span class="field">About</span><br>
            <span class="field-content">{{ contact.about  }}</span><br>
            <span class="field">comment</span><br>
            <span class="field-content">{{ contact.comment }}</span><br>
           
        </div>
        
    </div>   
{% endblock %}

