{# empty Twig template #}
{% extends 'frontoffice.html.twig' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ category.title|capitalize }}</h1>
        <div class="row">
            <div class="col-lg-12">
                <p>{{ category.description }}</p>
            </div>
        </div>
            <h2>Claims</h2>
            <div class="row">
                {% for claim in category.claims %}
                    <div class="col-sm-6">
                        {% for medium in  claim.medias %}
                        {% if loop.first %}
                        <img class="img-responsive" src="{{ asset(medium.webpath ) }}">
                        {% endif %}
                        {% endfor %}
                        <h3>{{ claim.title|capitalize }}</h3>
                        <p>{{ claim.description  }}</p>
                        <p class="text-right"><em>{{ claim.account.username|capitalize }}</em></p>
                    </div>
                    {% endfor %}
            </div>
    </div>
    {% endblock %}
