{% extends 'frontoffice.html.twig' %}

{% block content %}
    <div class="container">
    <h1>Claim edit</h1>
    <div class="row">
    <div class="col-sm-12">
    {{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.name)  }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name,{'attr': {'class': 'form-control','placeholder':'name'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.context)  }}
        {{ form_errors(form.context) }}
        {{ form_widget(form.context,{'attr': {'class': 'form-control','placeholder':'context'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.hqAdress)  }}
        {{ form_errors(form.hqAdress) }}
        {{ form_widget(form.hqAdress,{'attr': {'class': 'form-control','placeholder':'HeadQuater address'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.phone)  }}
        {{ form_errors(form.phone) }}
        {{ form_widget(form.phone,{'attr': {'class': 'form-control','placeholder':'phone Number'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description)  }}
        {{ form_errors(form.description) }}
        {{ form_widget(form.description,{'attr': {'class': 'form-control','placeholder':'Description'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.url)  }}
        {{ form_errors(form.url) }}
        {{ form_widget(form.url,{'attr': {'class': 'form-control','placeholder':'url'} }) }}
    </div>
    <div class="form-group">
        {{ form_label(form.email)  }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email,{'attr': {'class': 'form-control','placeholder':'email'} }) }}
    </div>
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Edit" />
    {{ form_end(form) }}
    </div>
    </div>
    <ul>
        <li>
            <a href="{{ path('claim_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
