{% extends 'frontoffice.html.twig' %}
{% block title %} claim location setting {% endblock %}
{% block stylesheets %}
    <style>
        #map-container { height: 300px }
    </style>
{% endblock %}
{% block headJs %}
    <script
            src="http://maps.googleapis.com/maps/api/js">
    </script>

    <script>
        var map;
        var myCenter=new google.maps.LatLng(33.90689555128866,8.7451171875);

        function initialize()
        {
            var mapProp = {
                center:myCenter,
                zoom:5,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(document.getElementById("map-container"),mapProp);

            google.maps.event.addListener(map, 'click', function(event) {
                placeMarker(event.latLng);
                getLocation(event.latLng);
            });
        }

        function placeMarker(location) {
            var marker = new google.maps.Marker({
                position: location,
                map: map,
            });
            var infowindow = new google.maps.InfoWindow({
                content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
            });
            infowindow.open(map,marker);
        }

        function getLocation(location){
            document.getElementById("service_location_latitude").value=location.lat();
            document.getElementById("service_location_longtitude").value=location.lng();
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Set a location to Your claim</h1>
    </div>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div id="map-container"></div>
            <a class="btn btn-info center-block" href="{{ path('claim_show',{'id':claim.id}) }}">back to the claim</a>
            {{ form_start(form,{'attr':{'class':'form'}}) }}
            <div class="form-group-lg">
                {{ form_label(form.address) }}
                {{ form_errors(form.address) }}
                {{ form_widget(form.address,{'attr':{'class' : 'form-control', 'placeholder' : 'say a word about this location'}}) }}
            </div>
            <div class="form-group-lg">
                {{ form_label(form.description) }}
                {{ form_errors(form.description) }}
                {{ form_widget(form.description,{'attr':{'class' : 'form-control', }}) }}
            </div>
            <div class="form-group-lg">
                {{ form_label(form.longtitude) }}
                {{ form_errors(form.longtitude) }}
                {{ form_widget(form.longtitude,{'attr':{'class' : 'form-control', }}) }}
            </div>
            <div class="form-group-lg">
                {{ form_label(form.latitude) }}
                {{ form_errors(form.latitude) }}
                {{ form_widget(form.latitude,{'attr':{'class' : 'form-control', }}) }}
            </div>

            <input type="submit" value="Create" class="btn btn-primary center-block" />

            {{ form_end(form) }}

        </div>
    </div>
    </div>
{% endblock %}
