{% extends 'base.html.twig' %}

{% block body %}
    <h1>ServiceLocation list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Longtitude</th>
                <th>Latitude</th>
                <th>Address</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serviceLocation in serviceLocations %}
            <tr>
                <td><a href="{{ path('servicelocation_show', { 'id': serviceLocation.id }) }}">{{ serviceLocation.id }}</a></td>
                <td>{{ serviceLocation.longtitude }}</td>
                <td>{{ serviceLocation.latitude }}</td>
                <td>{{ serviceLocation.address }}</td>
                <td>{{ serviceLocation.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('servicelocation_show', { 'id': serviceLocation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('servicelocation_edit', { 'id': serviceLocation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('servicelocation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
